/******** General Styles ********/
body {
    background: url(../img/bg.gif); 
    font-family: Arial, Tahoma, sans-serif;
    font-size: 11px;
    text-align: center; 
}

h1 { font-size: 26px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; color: #cb8c3a; padding-bottom: 5px; }

a { text-decoration: none; }


/******** Structure Styles ********/ 
#wrapper {
    background-image: url(../img/table-top.png);
    height: 660px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: left; 
    width: 980px;
}

.title {
    color: #cb8c3a;
    margin-bottom: 15px;
    text-align: center;
}

.mainContainer {
    background-color: #0a6c03;
    background: url(../img/table_felt.png) 0 0 repeat;
    border: 20px solid #cb8c3a;
    -webkit-border-image: url(../img/wood.png) 10 10 repeat;
    -moz-border-image: url(../img/wood.png) 10 10 repeat;
    -o-border-image: url(../img/wood.png) 10 10 repeat;
    border-image: url(../img/wood.png) 10 10 repeat;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*-webkit-box-shadow: inset 20px -6px 5px 0px rgba(67,39,13,1);
    -moz-box-shadow: inset 20px -6px 5px 0px rgba(67,39,13,1);
    box-shadow: inset 20px -6px 5px 0px rgba(67,39,13,1);*/  
    float: left;
    height: 560px;
    width: 768px;
}


/******** Number Styles ********/
.numbersContainer {
    border-bottom: 3px solid #cb8c3a;
    -webkit-border-image: url(../img/wood.png) 30 30 repeat;
    -moz-border-image: url(../img/wood.png) 30 30 repeat;
    -o-border-image: url(../img/wood.png) 30 30 repeat;
    border-image: url(../img/wood.png) 30 30 repeat;
}

ul.numbers {
    font-size: 0;
}
    ul.numbers li {
        display: inline-block;
    }

.flip {  
    height: 150px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
    position: relative;
    width: 85px;
}

.card {      
    height: 100%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
}
    .card figure { 
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        background: #cb8c3a;
        cursor: pointer; 
        font-size: 24px;
        height: 100%;
        line-height: 150px;
        position: absolute;
        text-align: center;           
        width: 100%;

    }
    .card .front {  
        background-image: url(../img/wood.png);
        border: 1px solid #fff;
        color: #fff;
            
    }
    .card .back {  
        background-image: url(../img/wood.png);
        border: 1px solid #fff;
        color: #eda933;
        -webkit-transform: rotateX(-180deg);
        -moz-transform: rotateX(-180deg);
        -ms-transform: rotateX(-180deg);
        -o-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }

.flipped {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}


/******** Dice Styles ********/
.diceContainer {
    margin: auto;
    position: relative;
    top: 25%;
    width: 150px;
}

.dice {
    background: #F5F5F5;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    font-size: 24px;
    margin: 5px;
    padding: 10px;
    text-align: center; 
    width: 32px;
}


/******** Control Styles ********/
.controlContainer {
    background: url(../img/wood.png) 0 0;
    border: 1px solid #eda933;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: right;
    height: 90%;
    padding: 5px;
    position: relative;
    right: 2%;
    top: 0;
    width: auto;
    text-align: center;
}   
    .controlContainer button:disabled {
        background: #777777;
        border: 1px solid #dcdcdc;
        color: #ededed;
        cursor: not-allowed;
    }

.scoreBoard {
    color: #eda933;
    text-align: center;
}
    .scoreBoard h2 {
        margin-bottom: 3px;
    }
    .scoreBoard div {
        background-color: #000000;
        border: 1px solid #eda933;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        font-size: 20px;
        padding: 5px 35px;
    }

.diceButton {
    margin-top: 10px;
}

.controlButton {
    position: absolute;
    bottom: 100px;
    left: 13%;
}

.rules button {
    display: block;
    margin-bottom: 5px;
}

/******** Button Styles ********/
.rollButton {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.rollButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.rollButton:active {
	position:relative;
	top:1px;
}

.rulesButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.rulesButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.rulesButton:active {
	position:relative;
	top:1px;
}


.endGameButton,
.endTurnButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
}
.endGameButton:hover,
.endTurnButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
}
.endGameButton:active,
.endTurnButton:active {
	position:relative;
	top:1px;
}
